!* variableSubst true
!* commandSubst true
$header

! set i 0
! foreach case $cases {
!   set test_id "${slug}-[incr i]"
!   if {$i > 1} {
skip $test_id
!   }
test $test_id [testTitle $case] -body {
    bottleSong [dict get $case input startBottles] [dict get $case input takeDown]
} -returnCodes ok -match orderedLists -result [asList [dict get $case expected] -multiline true -indent 2 -strings true]

! }

$footer
