!* variableSubst true
!* commandSubst true
$header

! set i 0
! foreach case $cases {
!   set test_id "${slug}-[incr i]"
!   if {$i > 1} {
skip $test_id
!   }
test $test_id [testTitle $case] -body {
    [dict get $case property] [dict get $case input startVerse] [dict get $case input endVerse]
!   if {[llength [dict get $case expected]] == 1} {
} -returnCodes ok -result [tclString [lindex [dict get $case expected] 0]]
!   } else {
!       set result [asList [dict get $case expected] -strings y -multiline y -indent 1]
!* commandSubst false
} -returnCodes ok -result [join $result \n]
!* commandSubst true
!   }

! }

$footer
