!* variableSubst true
!* commandSubst true
$header

! set i 0
! foreach case $cases {
!   set test_id "${slug}-[incr i]"
!   if {$i > 1} {
skip $test_id
!   }
test $test_id [testTitle $case] -body {
    [dict get $case property] [asList  [dict get $case input matrix] -lists y -multiline y -indent 2]
} -returnCodes ok -match unorderedLists -result [asList [lmap x [dict get $case expected] {list [dict get $x row] [dict get $x column]}]]

! }

$footer
