# Place your mentclrc file in your exercism config dir:
# See `exercism configure`

export RUN_ALL=true

displayCode() {
    # http://www.andre-simon.de/doku/highlight/en/highlight.php
    highlight -O truecolor "$1" | nl -ba -w4 -s' | '
}

# https://wiki.tcl-lang.org/page/Nagelfar
export SYNTAX_CHECKER=$HOME/src/other/nagelfar131/nagelfar.tcl
syntax_check() {
    "$SYNTAX_CHECKER" "$@" && echo "no issues detected"
}
