!* variableSubst true
!* commandSubst true
$header

! set i 0
! foreach case $cases {
!   set test_id "${slug}-[incr i]"
!   if {$i > 1} {
skip $test_id
!   }
test $test_id [testTitle $case] -body {
    [dict get $case property] [dict get $case input n]
} -returnCodes ok -match unorderedLists -result [asList [dict get $case expected] -lists y -multiline y -indent 1]

! }

$footer
