!* variableSubst true
!* commandSubst true
$header

! set i 0
! foreach case $cases {
!   set test_id "${slug}-[incr i]"
!   if {$i > 1} {
skip $test_id
!   }
test $test_id [tclString [dict get $case description]] -body {
    $slug [dict get $case property] [dict getdef $case input square ""]
!   if {[dict exists $case expected error]} {
} -returnCodes error -result [tclString [dict get $case expected error]]
!   } else {
} -returnCodes ok -result [dict get $case expected]
!   }

! }

$footer
