!* variableSubst true
!* commandSubst true
$header

! set i 0
! foreach case $cases {
!   set test_id "${slug}-[incr i]"
!   if {$i > 1} {
skip $test_id
!   }
test $test_id [testTitle $case] -body {
    [dict get $case property] [asList [dict get $case input board] -strings true -multiline true -indent 2]
} -returnCodes ok -result [tclString [dict get $case expected]]

! }

$footer
