!* variableSubst true
!* commandSubst true
$header

! set i 0
! foreach case $cases {
!   set test_id "${slug}-[incr i]"
!   if {$i > 1} {
skip $test_id
!   }
test $test_id [testTitle $case] -body {
!   set input [tclString [dict get $case input value]]
!   regsub -all {[{}]} $input {\\&} input
    bracketsMatch $input
} -returnCodes ok -match boolean -result [dict get $case expected]

! }

$footer
