!* variableSubst true
!* commandSubst true
$header

! set i 0
! foreach case $cases {
!   set test_id "${slug}-[incr i]"
!   if {$i > 1} {
skip $test_id
!   }
test $test_id [testTitle $case] -body {
    diamond [tclString [dict get $case input letter]]
!   set rendered  [asList [dict get $case expected] -strings 1 -multiline 1 -indent 1]
!* commandSubst false
} -returnCodes ok -result [join $rendered \n]
!* commandSubst true

! }

$footer
