!* variableSubst true
!* commandSubst true
$header

! set i 0
! foreach case $cases {
!   set test_id "${slug}-[incr i]"
!   if {$i > 1} {
skip $test_id
!   }
test $test_id [testTitle $case] -body {
    [dict get $case property] [tclString [dict get $case input isbn]]
} -returnCodes ok -match boolean -result [dict get $case expected]

! }

$footer
