{{header}}

{% for idx, case in cases -%}
{%   if idx > 0 -%}
skip {{slug}}-{{idx + 1}}
{%   endif -%}
test {{slug}}-{{idx + 1}} {{ case["description"]|tclstring }} -body {
    gamestate { {% for row in case["input"]["board"] %}
        {{ row|tclstring }}{% endfor %}
    }
{%   if case["expect_error"] -%}
} -returnCodes error -result "{{ case["expect_error_msg"] }}"

{%   else -%}
} -returnCodes ok -result "{{ case["expected"] }}"

{%   endif -%}
{% endfor -%}

{{footer}}
