# Run all tests for commits to master

name: tcl / master

on:
  push:
    branches:
      - master
      - main

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Install Deps
        run: |
          sudo apt-get update && sudo apt-get -y install tcl-thread

      - name: Checkout
        uses: actions/checkout@v4

      - name: Run tests for all exercises
        run: bash bin/ci
