# Run all tests for commits to master

name: tcl / ci-test-all

on:
  push:
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-24.04
    container:
      image: exercism/tcl-test-runner:latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Run tests for all exercises
        run: bin/verify-in-test-runner.tcl
