# Run all tests for commits to master

name: tcl / ci-test-all

on:
  push:
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-24.04
    container:
      image: exercism/tcl-test-runner:latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd

      - name: Run tests for all exercises
        run: bin/verify-in-test-runner.tcl
