# Run tests for tcl or markdown files modified in this PR.

name: tcl / pr

on: pull_request

jobs:
  ci:
    runs-on: ubuntu-24.04
    container:
      image: exercism/tcl-test-runner:latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3

      - name: Run tests for changed/added exercises
        run: bin/verify-in-test-runner.tcl ${{ github.event.number }}
