# Run tests for tcl or markdown files modified in this PR.

name: tcl / pr

on: pull_request

jobs:
  ci:
    runs-on: ubuntu-24.04
    container:
      image: exercism/tcl-test-runner:latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Run tests for changed/added exercises
        run: bin/verify-in-test-runner.tcl ${{ github.event.number }}
