# Run tests for tcl or markdown files modified in this PR.

name: tcl / pr

on: pull_request

jobs:
  ci:
    runs-on: ubuntu-22.04

    steps:
      - name: Install Deps
        run: |
          sudo apt-get update && sudo apt-get -y install tcl-thread

      - name: Checkout PR
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: Run tests for changed/added exercises
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          pr_endpoint=$(jq -r '"repos/\(.repository.full_name)/pulls/\(.pull_request.number)"' "$GITHUB_EVENT_PATH")
          gh api "$pr_endpoint/files" --paginate --jq '
            .[] | 
              select(.status == "added" or .status == "modified") |
              select(.filename | match("\\.(md|tcl|test)$")) |
              .filename
          ' | xargs -r bash bin/pr
